@import 'vars';

::-webkit-scrollbar{
  display: none;
}

.mds-container {
  max-width: 65%;
  align-self: center
}

.mds-input-container-search {
  margin-bottom: 0px;
}

.mds-card-now-playing, .mds-card-up-next {
  height: 370px;
}

.mds-card-normal {
  height: 270px;
}

.mds-textual-role-indicator {
  padding-left: 8px;
  font-size: larger;
  text-transform: uppercase;
}

.mds-card-filler {
  height: 100%;
}

.mds-card-like-action, .mds-card-skip-action {
  align-self: flex-end;
}

.mds-card-title {
  padding: 6px;
  padding-bottom: 20px;
}

.mds-card-dark-background {
  color: #fff;
  text-shadow: 1px 2px 3px #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.mds-card-large-footer {

}

.mds-card-regular-footer {

}
