<div layout="column" flex>
    <div ng-if="typeDependent.hr != undefined" class="mds-card-pretext">
        {{ typeDependent.hr }}
    </div>
    <md-card class="mds-card" style="background: url({{ song.thumbnail }}) center / cover">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ song.title }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Like it</md-button>
            <md-button>Vote skip</md-button>
        </md-card-actions>
    </md-card>
</div>