<div class="container" layout="column" layout-align="center" flex>
    <div class="row-search" layout="row">
        <md-input-container flex>
            <label>Add song</label>
            <input ng-model="query" />
        </md-input-container>
    </div>
    <md-content class="cards-container" layout="column" flex>
        <div class="row-main" layout="row" layout-fill layout-wrap>
            <mds-card type="now-playing" song="home.songs[0]"></mds-card>
            <mds-card type="up-next" song="home.songs[1]"></mds-card>
            <mds-card ng-repeat="song in home.songs track by $index"
                      ng-if="$index >= 2"
                      song="song">
            </mds-card>
        </div>
    </md-content>
</div>

